@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");
* {
  margin: 0%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  color: black;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 95vw;
}

.navLogo {
  font-size: 2rem;
  font-weight: 700;
  color: #f87171;
}

.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #f87171;
}

@keyframes quoteAnimation {
  0% {
    opacity: 0;
    transform: translateY(+100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes introAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, black 95%, transparent 100%);
  height: 88vh;
  width: 95vw;
  position: relative;
  padding: 2rem;
  text-align: center;
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.introHead {
  font-size: 80px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: white;
  animation: introAnimation 1s ease-in-out;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

.heart {
  font-size: 100px;
  color: red;
  animation: pulse 1.5s infinite ease-in-out;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.heart:active {
  transform: scale(1.5);
}

.quote {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #ffffffcc;
  letter-spacing: 1px;
  font-style: italic;
  animation: quoteAnimation 1s ease-out;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  max-width: 600px;
  margin: 0 auto;
  scroll-margin-top: 86px;
  margin-bottom: 50px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  color: #333;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.label {
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.input {
  width: 120%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.select {
  width: 120%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: border-color 0.3s ease;
}

.input:focus,
.select:focus {
  border-color: #3b82f6;
}
.input,
.select {
  width: 500px;
}

.button {
  grid-column: span 2;
  padding: 0.75rem 1.5rem;
  background-color: #ff5e5e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.button:hover {
  transform: scale(1.05);
}

.result {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #16a34a;
}

.error {
  margin-top: 1rem;
  color: #ef4444;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.cardHeading {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #f87171;
}

.developerSection {
  padding: 2rem 2rem;
  text-align: center;
  background: #f9f9f9;
  border-radius: 2rem;
  margin-top: 10rem;
  margin-bottom: 100px;
}

.devHeading {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}

.devCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.devCard {
  background: white;
  border-radius: 2rem;
  padding: 1.5rem;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.devCard:hover {
  transform: translateY(-5px);
}

.devImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.devName {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.devDesc {
  font-size: 0.95rem;
  color: #555;
  font-family: "Poppins", sans-serif;
}

.socialIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socialIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.2);
}

.remedies {
  margin-top: 1rem;
  background-color: #ffe6e6;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.1);
}

.remedies h3 {
  color: #cc0000;
  margin-bottom: 0.5rem;
}

.positive {
  margin-top: 1rem;
  background-color: #e6ffe6;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 255, 0, 0.1);
}

.positive h3 {
  color: #009900;
  margin-bottom: 0.5rem;
}

.remedies ul,
.positive ul {
  list-style: none;
  padding: 0;
}

.remedies li,
.positive li {
  margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .introHead {
    font-size: 60px;
  }

  .humanBody {
    width: 220px;
    height: 400px;
  }

  .input,
  .select {
    width: 100%;
  }

  .formWrapper {
    grid-template-columns: 1fr;
  }

  .devCards {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navLinks {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .intro {
    height: auto;
    padding: 3rem 1rem;
  }

  .introHead {
    font-size: 40px;
  }

  .heart {
    font-size: 70px;
  }

  .humanBody {
    display: none;
  }

  .formContainer {
    padding: 2rem 1rem;
  }

  .formWrapper {
    padding: 1rem;
  }

  .developerSection {
    margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  .navLogo {
    font-size: 1.5rem;
  }

  .introHead {
    font-size: 30px;
  }

  .quote {
    font-size: 1.2rem;
  }

  .formContainer {
    padding: 1rem;
  }

  .formWrapper {
    gap: 1rem;
  }

  .button {
    width: 100%;
  }

  .devCard {
    width: 90%;
    padding: 1rem;
  }

  .modelCard {
    padding: 2rem 1rem;
    margin-top: 150px;
  }
}

@media (max-width: 1024px) {
  .introHead {
    font-size: 4rem;
  }

  .humanBody {
    width: 220px;
    height: 400px;
  }

  .formWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }

  .intro {
    height: auto;
    padding: 3rem 1rem;
  }

  .introHead {
    font-size: 3rem;
  }

  .heart {
    font-size: 5rem;
  }

  .humanBody {
    display: none;
  }

  .developerSection {
    margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  .navLogo {
    font-size: 1.5rem;
  }

  .introHead {
    font-size: 2rem;
  }

  .quote {
    font-size: 1.2rem;
  }

  .formWrapper {
    padding: 1rem 0;
  }

  .button {
    width: 100%;
  }

  .devCard {
    width: 100%;
    padding: 1rem;
  }

  .modelCard {
    padding: 1.5rem;
    margin-top: 100px;
  }
}
.contactSection {
  background-color: #0b1e34;
  padding: 4rem 2rem;
  margin-top: 100px;
  margin-bottom: 0%;
}

.contactHeading {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.contactSubheading {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #666;
  font-family: "Poppins", sans-serif;
}

.contactContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff; /* White background for the card */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contactDetails {
  flex: 1;
  min-width: 280px;
  font-size: 1.1rem;
  color: #444;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}

.contactDetails p {
  margin-bottom: 1rem;
}

.contactDetails a {
  color: #ff5e5e;
  text-decoration: none;
  font-weight: 600;
}

.contactDetails a:hover {
  text-decoration: underline;
}

.contactForm {
  flex: 1;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.feedbackHeading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.contactInput,
.contactTextarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.contactButton {
  padding: 1rem;
  background-color: #ff5e5e;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: #ff3b3b;
}

.headingUnderline {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.headingUnderline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #f87171;
  border-radius: 2px;
  animation: expandLine 1s ease forwards;
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.modelInfo {
  padding: 2rem;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb; /* A soft background to separate the content */
}

.headingUnderline {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.headingUnderline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: #f87171;
  border-radius: 2px;
}

.subHeading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #f87171;
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  position: relative;
  display: inline-block;
}

.subHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #f87171;
  border-radius: 2px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
}

.card p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.card strong {
  font-weight: bold;
  color: #f87171;
}

.sectionDivider {
  margin: 2rem auto;
  width: 80%;
  height: 2px;
  border: none;
  background: linear-gradient(to right, transparent, #f87171, transparent);
  filter: blur(0.4px);
  opacity: 0.7;
}
.devHoverList {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  font-size: 0.85rem;
  color: #444;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #555;
  font-family: "Poppins", sans-serif;
}

.devCard:hover .devHoverList {
  opacity: 1;
  max-height: 500px;
}

.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: black;
  text-align: center;
  margin-top: 0%;
  border-top: 1px solid #444;
}

.footerText {
  color: #aaa;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
